.btn {
	border: none;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn--small {
	padding: 8px 10px;
}

.btn--medium {
	padding: 12px 14px;
}

.btn--large {
	padding: 18px 20px;
	font-size: 20px;
}

.btn--add {
	background-color: #818343;
}

.btn--remove {
	background-color: rgb(145, 45, 45);
}

.btn--remove-genre {
	margin-bottom: 10px;
	align-self: flex-end;
}
